<center>
    <br /><br /><br /><div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <h3>
                            Connect with interesting people all around the world!!!
                        </h3>
                        <img alt="140x140" class="img-circle" src="http://cache1.asset-cache.net/gc/173247987-scarlet-ibis-on-black-background-with-closed-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=AxZrG3zj6U%2FwkScSrhWcRwV5z9T4p93CGuBYJwvVNhE%3D" />
                    </div>
                    <div class="col-md-4 stylecolumn">
                        <h2>
                            {{token}}
                        </h2>
                        <div class="jumbotron well-lg">
                            <form role="form">
                                <div class="form-group has-error">
                                    <label>Email address</label><input type="text" ng-model="user.username" class="form-control" id="text" />
                                </div>
                                <div class="form-group has-error">
                                    <label>Password</label><input type="password" class="form-control" ng-model="user.password" id="password" />
                                </div>
                                <button type="submit" ng-click="login()" class="btn btn-danger btn-block">ENTER</button>
                            </form>

                        </div>
                        <div class="col-md-4 column">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</center>


    



