<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"ng-app="App">
<head>
    <title></title>
    
    <link href="~/Content/_myStyle.css" rel="stylesheet" />
</head>
<body>

    <div ng-view>



    </div>

    <script src="~/App/Scripts/angular.js"></script>
    <script src="~/App/Scripts/angular-route.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/App/Scripts/_myscript.js"></script>
    <script src="~/App/Scripts/Services.js"></script>
    <script src="~/App/Scripts/HomeController.js"></script>
</body>
</html>